Dockerfile*
Containerfile*
*compose*
.dockerignore
.containerignore
.git
.gitignore
.gitattributes
.github
README*
LICENSE*
.npmrc
.prettierrc
.eslintrc.cjs
.graphqlrc
.editorconfig
.svelte-kit
.vscode
node_modules
build
package
coverage*
**/.env
redis-data
